@page
@model UpdatedChambersTailwindAndRazorPages.Pages.BackgroundModel
@{
}
<div>
    <h1 class="content-center my-5 text-3xl text-bold">Education</h1>
    <h2 class="mx-auto md:w-3/4 block rounded-xl bg-red-700 text-center text-yellow-600 my=3 py=3">
        Graduated from University of Wisconsin-Madison in 2016 (MS-Organic Chemistry)
    </h2><div class="mt-4 hero container max-w-xs mx-auto pb-10">
        <img class="mx-auto max-w-xs" src="https://bloximages.newyork1.vip.townnews.com/wisconsin.golf/content/tncms/assets/v3/editorial/4/24/424888d2-5175-11e8-89de-dfbb31c9a2c5/5aef74f4609e7.image.png" alt="UW-Madison Mascot" />
    </div>
    <h2 class="mx-auto md:w-3/4 block rounded-xl bg-purple-950 text-center text-yellow-600 my=3 py=3">
        Graduated from Nazareth College of Rochester in 2014 (BS-Chemistry)
    </h2>
    <div class="mt-4 hero container max-w-xs mx-auto pb-10">
        <img class="mx-auto max-w-xs" src="https://static.nazathletics.com/custompages/athletic_logos/NAZS3.JPG" alt="Nazareth College Logo" />
    </div>
    <h2 class="mx-auto md:w-3/4 block rounded-xl bg-black text-center text-green-800 my=3 py=3">
        Graduated from Stowe High School in 2010
    </h2>
    <div class="mx-auto md:w-3/4 mt-4 rounded-xl hero container max-w-xs mx-auto pb-10">
        <img class="mx-auto max-w-xs" src="https://1.bp.blogspot.com/-a_D8WVCI2uk/VzYykyqxwiI/AAAAAAAAFRk/U6ECDzaGihca6RtarU41iDU2CaoAO7D5QCK4B/s1600/Raider%2Bpic.jpg" alt="Stowe High School Mascot" />
    </div>
    <link href="/css/app.css" />
</div>