@page
@model UpdatedChambersTailwindAndRazorPages.Pages.ExperienceModel
<h1 class="mt-2 shadow-xl block items-center font-semibold w-1/4 rounded-md bg-gray-600 text-2xl lg:text-3xl text-gray-300 content-center mx-auto py-2">
	Experience
</h1>
<ul>
	<li class="my-3 mx-auto block bg-gray-400 shadow-xl md:w-3/4 px-3 rounded-xl py-3">
		<div class="mt-2 shadow-md block items-center md:w-5/6 rounded-md bg-gray-600 text-lg lg:text-xl text-gray-300 mx-auto py-2">Paid Internship With Red Leg Dev (May 2023-Present)
		</div>
		<div class="mt-2 shadow-md py-2 items-center md:w-5/6 rounded-md bg-gray-100 text-md lg:text-lg text-gray-600 mx-auto">
			Migrated user requests and administrative responses on a razor pages website utilizing Airtable as the database for the Florida National Guard.  Upgraded UI tables and lists.
		</div>
	</li>
	<li class="my-3 mx-auto block bg-gray-400 shadow-xl md:w-3/4 px-3 rounded-xl py-3">
		<div class ="mt-2 shadow-md block items-center md:w-5/6 rounded-md bg-gray-600 text-lg lg:text-xl text-gray-300 mx-auto py-2">
			Software Development Training in C# (.Net 6 and .Net 7) with Experienced .Net Developer (January 2023-Present)
		</div>
		<div class="mt-2 shadow-md py-2 items-center md:w-5/6 rounded-md bg-gray-100 text-md lg:text-lg text-gray-600 mx-auto">
			Software development training in C# with an experienced .Net Engineer, Gregory Peacock. Training included building (Razor Pages, Blazor, APIs and Console Applications)
			that emphasized best practices.  Additional skills developed include: GIT, SQL, JSON, TailwindCSS, Entity Framework Core, Dapper, SQL Server, SQLite, LINQ, MSTEST,
			Dependency Injection, SOLID, DRY, OOP, etc.
		</div>
	</li>
	
	<li class="my-3 mx-auto block bg-gray-400 shadow-xl md:w-3/4 px-3 rounded-xl py-3">
		<div class="mt-2 shadow-md block items-center md:w-5/6 rounded-md bg-gray-600 text-lg lg:text-xl text-gray-300 mx-auto py-2">
			Middle School Science Teacher at St. Mary's Catholic School
		</div>
		<div class="mt-2 shadow-md py-2 items-center md:w-5/6 rounded-md bg-gray-100 text-md lg:text-lg text-gray-600 mx-auto">
			Taught 6th-8th grade science classes and ran elementary school laboratories for grades 1-5.  In addition, I ran the 8th grade frog dissections as well as coordinated Science Day.
		</div>
	</li>
	
	<li class="my-3 mx-auto block bg-gray-400 shadow-xl md:w-3/4 px-3 rounded-xl py-3">
		<div class="mt-2 shadow-md block items-center md:w-5/6 rounded-md bg-gray-600 text-lg lg:text-xl text-gray-300 mx-auto py-2">
			High School Chemistry and Physics Teacher at Christ the King Catholic High School
		</div>
		<div class="mt-2 shadow-md py-2 items-center md:w-5/6 rounded-md bg-gray-100 text-md lg:text-lg text-gray-600 mx-auto">
			As a high school chemistry and physics teacher, I taught and designed the curriculum for four different levels of chemistry (AP, General, Honors and CP) as well as the Honors Physics class.
			As a member of the Academic Initiative Committee I helped to instruct other faculty members with a particular emphasis on utilizing technology. Additionally, I was the head of the Honors Diploma Committee and was responsible for redesigning the rubics for their capstone research project, their Horizon Project, and managing the requirements for graduating with the Honors Diploma.
		</div>
	</li>
	
</ul>
