@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
<div>
    <img class="mx-auto w-1/6 mt-4" src="/images/image0.png">
    <h1 class="content-center text-2xl font-bold py-4">About Me</h1>
    
    <h2 class="shadow-xl mx-auto text-center justify-center md:w-3/4 block rounded-xl bg-gray-700 text-white content-center text-xl font-semibold">Childhood</h2>
    <div class="my-2 bg-gray-300 rounded-md shadow-xl md:w-3/4 mx-auto mx-2 text-center justify-center content-center text-sm py-2">
        I was born in Delaware, but grew up in the beautiful small town of Stowe, Vermont.  Growing up through the 90s and early 2000s, I was able to experience 
        the rapid changes in technology.  I vividly remember how excited I was seeing the new IMac computer labs at school and remember my dad talking about how the iPhone would
        never overtake the Blackberry, since it had no permanent keyboard.  While I was always fascinated with technology, it was never a major focus for me.  
        I spent my free time playing sports (hockey, soccer, and tennis) or outside (hiking, swimming, golf or wiffle ball). When I got to high school, a family member received a terrible diagnosis(ALS- commonly referred to as Lou Gehrig's Disease').
        Fortunately, it was a misdiagnosis and she went on to recover, but it was the point in my life that I realized I wanted to focus on chemistry with the goal of becoming a pharmaceutical researcher to help cure ALS and other deadly diseases.
    </div>
    <h2 class="shadow-xl mx-auto text-center justify-center md:w-3/4 block rounded-xl bg-gray-700 text-white content-center text-xl font-semibold">Nazareth College And UW-Madison</h2>
    <div class="my-2 bg-gray-300 rounded-md shadow-xl mx-auto mx-2 text-center justify-center md:w-3/4 content-center text-sm pt-2 pb-1">
        <div>
            I attended a small college in Upstate New York, Nazareth College of Rochester, where I majored in chemistry and was granted the opportunity to begin research in the summer of my freshman year.
            This allowed me to have my first experience presenting at the American Chemical Society(ACS) National Conference, which I was fortunate to be able to attend every spring while I was in getting my B.S. in Chemistry.
            Taking organic chemistry as a sophomore solidified my desire to go into pharmaceutical research. Every organic chemistry problem was an exciting and challenging puzzle.  I began to focus on understanding how to build the small molecules and how they interacted with proteins in the body.
        </div>
        <div>
            Entering graduate school I was able to join the laboratory of Dr. Schomaker focusing on catalysis and synthesizing small molecules.  It was during this time that I began to realize that I had a greater passion
            for learning the connections and solving the problems on paper than in the laboratory.  I began to enjoy being a Teacher's Assistant more than actually completing work in the laboratory.
            After completing my Master's Degree in Organic Chemistry, I began teaching at a high school in North Carolina.
        </div>  
    </div>
    <h2 class="shadow-xl mx-auto text-center justify-center md:w-3/4 block rounded-xl bg-gray-700 text-white content-center text-xl font-semibold">Teaching and Beyond</h2>
    <div class="my-2 bg-gray-300 rounded-md shadow-xl mx-auto mx-2 text-center justify-center md:w-3/4 content-center text-sm pb-2">
        While I enjoyed teaching, I always envisioned changing careers in the future.  A student once asked my best friend "if you weren't a teacher, what job would you have?" His response
        was that he would continue training to become a teacher again.  It was a moment where I realized that I did not have the same attachment to teaching, although I was uncomfortable with change.
        However, change was coming quickly as I met my wife in the winter of 2020 only a few short weeks before the lockdowns hit. The following year, I moved to South Carolina to be closer to wife before we got married in December of 2021.  
        We welcomed our son in November of 2022 and shortly after I was afforded the opportunity to begin the next stage of my career.  In January 2023, my brother-in-law begain to provide me guidance for best practices in software development.
        I look forward to continue to develop new skills and hope to someday be able to learn to apply the skills to better understand and predict medicinal interactions. 
    </div>
    <!-- 
        <div class="content-center">
            <div class="px-3 pt-2 pb-4 text-black font-semibold">
                <a href="/DiscGolf" class="block hover:text-white focus:outline-none focus:text-white">Disc Golf API Connection</a>
                <a href="/Dnd" class="block hover:text-white focus:outline-none focus:text-white">D&D 5e Character Stat Build</a>
            </div>
        </div>
    -->
    
     
</div>
