@page
@model UpdatedChambersTailwindAndRazorPages.Pages.ReferencesModel
@{
}
<h1 class="content-center my=3 text-4xl">References</h1>
<ul>
	<li class="shadow-xl mx-auto rounded-xl bg-gray-100 md:w-3/4">
		<div class="mt-8 block rounded-xl bg-gray-500 text-white my=3 text-xl pt-1 pb-1">Gregory Peacock</div>
		<div class="text-xl">Experienced Engineer: Mentor for software development since January 2023</div>
	</li>
	
	<li class="shadow-xl mx-auto rounded-xl bg-gray-100 md:w-3/4">
		<div class="mt-8 block rounded-xl bg-gray-500 text-white my=3 text-xl pt-1 pb-1">
			Dawn Bonen-Clark
		</div>
		<div class="content-center my=3 text-xl">
			Former learning support coordinator at Christ the King Catholic High School
		</div>
		<div class="content-center text-xl my=3">
			Currently, owner of The Dawn of Achievement
		</div>
	</li>
	<li class="shadow-xl mx-auto rounded-xl bg-gray-100 md:w-3/4">
		<div class="mt-8 block rounded-xl bg-gray-500 text-white my=3 text-xl">
			Dr. Semmler
		</div>
		<div class="content-center my=3 text-xl">
			Principal Christ the King Catholic High School
		</div>
	</li>
</ul>

